<a href="https://colab.research.google.com/github/Blackman9t/Coursera_Capstone/blob/master/applied_data_science_capstone_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Applied Data Science Capstone-Project


### This Capsone-Project is the final course in a series of nine(9) Data Science Specialization courses taught by IBM via Coursera. <br>
###The courses include the following:-
1. [What is Data Science?](https://www.coursera.org/learn/what-is-datascience/home/welcome)
2. [Open Source tools for Data Science](https://www.coursera.org/learn/open-source-tools-for-data-science/home/welcome)
3. [Python for Data Science](https://www.coursera.org/learn/python-for-applied-data-science/home/welcome)
4. [Data Science Methodology](https://www.coursera.org/learn/data-science-methodology/home/welcome)
5. [Databases and SQL for Data Science](https://www.coursera.org/learn/sql-data-science/home/welcome)
6. [Data Visualization with Python](https://www.coursera.org/learn/python-for-data-visualization/home/welcome)
7. [Data Analysis with Python](https://www.coursera.org/learn/data-analysis-with-python/home/welcome)
8. [Machine Learning with Python](https://www.coursera.org/learn/machine-learning-with-python/home/welcome)
9. [Applied Data Science Capstone](https://www.coursera.org/learn/applied-data-science-capstone/home/welcome)

#### It is mandatory that all courses from 1 to 8 are passed with acceptable grades before attempting this Capsone-Project.

Importing requred libraries

In [0]:
import pandas as pd
import numpy as np

In [268]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

<h2>Problem Description</h2>

<h3>The problem I want to solve using Geo-location Data is helping a new Tech-StartUp find the ideal location for its Head-office in The City of Lagos Nigeria.
This Head-office should be situated in a good location that has the following:-</h3><br>

central location.<br>
Close proximity to Tech-Hubs and talent.<br>
High feet traffic area for easy interaction with potential customers.<br>
Nearness to Educational institutions for research and interactions with academics.<br>
Nearness to cafes and restaurants for business meetings or lunch-meets.<br>
Nearness to bus-stops, seaports and airports.<br>
Security and safety.<br>
Cluster of economic activities and similar or complementing businesses.

<h2>Background to Problem</h2>

I have lived in Lagos for some time off and on, longest has been 3 years stretch from 2006 to 2009. <br>
I have also done some travelling to other countries such as Russia, which by the way is the largest country in The World by land mass, South-Africa, Ghana, Dubai, Mauritius and a few others.<br>
By the way, Mauritius is The wealthiest country in Africa with average wealth per person increasing from $(21700 - 25700) within one year recently ([link](https://www.graphic.com.gh/business/business-news/accra-ranked-10th-wealthiest-city-in-africa.html)).<br>
My analysis today is on Lagos state, which is the 4th wealthiest city in Africa, fourth place behind Johannesburg, Cairo and Cape Town ([link](https://www.graphic.com.gh/business/business-news/accra-ranked-10th-wealthiest-city-in-africa.html)).<br>
Lagos city is home to over 6,800 $$ millionaires, 370 $$ multi-millionaires and 4 $$ billionaires.<br>
Lagos is also the commercial capital of Nigeria (The Most populous black nation), and the commercial hub of West Africa.<br>
I have only recently returned to Lagos city, got enrolled and completed The [Founder Institute](https://fi.co/) programme and currently building a Startup in The Insuretech industry ([link](http://bit.ly/escrowallet)).<br>
Therefore I want to use this opportunity to help future Startups find the most ideal location in Lagos city, for an office.

<h2>Data Requirements and Overview</h2>

**The Dataset is the wikipedia page of Lagos state** see [link](https://en.wikipedia.org/wiki/List_of_Lagos_State_local_government_areas_by_population)

We shall explore Lagos city through its respective Local Government Areas or Boroughs via this [link](https://en.wikipedia.org/wiki/List_of_Lagos_State_local_government_areas_by_population).<br>
The above link is a web page that shows the respective Local Government Areas in Lagos State and each population figure. It's a public wikipedia data page<br>
This data will be analysed through the following steps:-<br>
1. We shall scrape the web page using the beautiful soup library<br>
2. We shall use The Foresquare API calls to retrieve geo-location data<br>
3. We shall fetch the text data using the requests library<br>
4. We shall convert it from JSON to Pandas dataframe using the josn_normalize module<br>
5. We shall use The folium library to view the maps and plot these via matplotlib library.<br>
Then we shall cluster Lagos City into its respective Postcodes and Local Government Areas and analyse each area for its appeal as a location for a Tech-Startup based on the aforementioned parameters.<br>
After this we shall select our Top-Location.<br>
5. Finally to add some fun, we shall use the Word-cloud library to display the names of the top hubs, restaurants, offices and education institutes in our Top-Location.

**So please sit back, relax and enjoy the ride as we explore Lagos City**

First let's import required libraries

In [269]:
from bs4 import BeautifulSoup
import requests  # library to handle requests
import pandas as pd
import json  # library to handle JSON files
from pandas.io.json import json_normalize  # transform json files to pandas dataframes
from geopy.geocoders import Nominatim  # convert an address into latitude and longitude values

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

import numpy as np
import csv

print('All modules imported')

All modules imported

In [0]:
# Lets save the weblink for The Lagos Data

lagos_link = 'https://en.wikipedia.org/wiki/List_of_Lagos_State_local_government_areas_by_population'

Get the source code html data from the website

In [0]:
source = requests.get(lagos_link).text

Lets Use BeautifulSoup to parse it

In [272]:
soup = BeautifulSoup(source,'lxml')

# Let's pretty print it in its right shape

print(soup.prettify())

<!DOCTYPE html>
<html class="client-nojs" dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   List of Lagos State local government areas by population - Wikipedia
  </title>
  <script>
   document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgMonthNamesShort":["","Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"wgRequestId":"XevyGApAAD8AAH3AsgUAAAAD","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"List_of_Lagos_State_local_government_areas_by_population","wgTitle":"List of Lagos State local government areas by population","wgCurRevisionId":928939763,"wgRevisionId":928939763,"wgArticleId":35585260,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Wikipedia articles in need of updating from March 2015","All Wikipedia articles in need of updating",
"Articles lacking sources from June 2015","All articles lacking sources","Local Government Areas in Lagos State","Nigeria geography-related lists","Lists by population"],"wgPageContentLanguage":"en","wgPageContentModel":"wikitext","wgRelevantPageName":"List_of_Lagos_State_local_government_areas_by_population","wgRelevantArticleId":35585260,"wgIsProbablyEditable":!0,"wgRelevantPageIsProbablyEditable":!0,"wgRestrictionEdit":[],"wgRestrictionMove":[],"wgMediaViewerOnClick":!0,"wgMediaViewerEnabledByDefault":!0,"wgPopupsReferencePreviews":!1,"wgPopupsConflictsWithNavPopupGadget":!1,"wgVisualEditor":{"pageLanguageCode":"en","pageLanguageDir":"ltr","pageVariantFallbacks":"en"},"wgMFDisplayWikibaseDescriptions":{"search":!0,"nearby":!0,"watchlist":!0,"tagline":!1},"wgWMESchemaEditAttemptStepOversample":!1,"wgULSCurrentAutonym":"English","wgNoticeProject":"wikipedia","wgWikibaseItemId":"Q6576379","wgCentralAuthMobileDomain":!1,"wgEditSubmitButtonLabelPublish":!0}
;RLSTATE={"ext.globalCssJs.user.styles":"ready","site.styles":"ready","noscript":"ready","user.styles":"ready","ext.globalCssJs.user":"ready","user":"ready","user.options":"ready","user.tokens":"loading","mediawiki.legacy.shared":"ready","mediawiki.legacy.commonPrint":"ready","wikibase.client.init":"ready","ext.visualEditor.desktopArticleTarget.noscript":"ready","ext.uls.interlanguage":"ready","ext.wikimediaBadges":"ready","mediawiki.skinning.interface":"ready","skins.vector.styles":"ready"};RLPAGEMODULES=["site","mediawiki.page.startup","mediawiki.page.ready","mediawiki.searchSuggest","ext.gadget.teahouse","ext.gadget.ReferenceTooltips","ext.gadget.watchlist-notice","ext.gadget.DRN-wizard","ext.gadget.charinsert","ext.gadget.refToolbar","ext.gadget.extra-toolbar-buttons","ext.gadget.switcher","ext.centralauth.centralautologin","mmv.head","mmv.bootstrap.autostart","ext.popups","ext.visualEditor.desktopArticleTarget.init","ext.visualEditor.targetLoader","ext.eventLogging",
"ext.wikimediaEvents","ext.navigationTiming","ext.uls.compactlinks","ext.uls.interface","ext.cx.eventlogging.campaigns","ext.quicksurveys.init","ext.centralNotice.geoIP","ext.centralNotice.startUp","skins.vector.js"];
  </script>
  <script>
   (RLQ=window.RLQ||[]).push(function(){mw.loader.implement("user.tokens@tffin",function($,jQuery,require,module){/*@nomin*/mw.user.tokens.set({"patrolToken":"+\\","watchToken":"+\\","csrfToken":"+\\"});
});});
  </script>
  <link href="/w/load.php?lang=en&amp;modules=ext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cskins.vector.styles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector" rel="stylesheet"/>
  <script async="" src="/w/load.php?lang=en&amp;modules=startup&amp;only=scripts&amp;raw=1&amp;skin=vector">
  </script>
  <meta content="" name="ResourceLoaderDynamicStyles"/>
  <link href="/w/load.php?lang=en&amp;modules=site.styles&amp;only=styles&amp;skin=vector" rel="stylesheet"/>
  <meta content="MediaWiki 1.35.0-wmf.5" name="generator"/>
  <meta content="origin" name="referrer"/>
  <meta content="origin-when-crossorigin" name="referrer"/>
  <meta content="origin-when-cross-origin" name="referrer"/>
  <link href="android-app://org.wikipedia/http/en.m.wikipedia.org/wiki/List_of_Lagos_State_local_government_areas_by_population" rel="alternate"/>
  <link href="/w/index.php?title=List_of_Lagos_State_local_government_areas_by_population&amp;action=edit" rel="alternate" title="Edit this page" type="application/x-wiki"/>
  <link href="/w/index.php?title=List_of_Lagos_State_local_government_areas_by_population&amp;action=edit" rel="edit" title="Edit this page"/>
  <link href="/static/apple-touch/wikipedia.png" rel="apple-touch-icon"/>
  <link href="/static/favicon/wikipedia.ico" rel="shortcut icon"/>
  <link href="/w/opensearch_desc.php" rel="search" title="Wikipedia (en)" type="application/opensearchdescription+xml"/>
  <link href="//en.wikipedia.org/w/api.php?action=rsd" rel="EditURI" type="application/rsd+xml"/>
  <link href="//creativecommons.org/licenses/by-sa/3.0/" rel="license"/>
  <link href="https://en.wikipedia.org/wiki/List_of_Lagos_State_local_government_areas_by_population" rel="canonical"/>
  <link href="//login.wikimedia.org" rel="dns-prefetch"/>
  <link href="//meta.wikimedia.org" rel="dns-prefetch"/>
  <!--[if lt IE 9]><script src="/w/resources/lib/html5shiv/html5shiv.js"></script><![endif]-->
 </head>
 <body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject mw-editable page-List_of_Lagos_State_local_government_areas_by_population rootpage-List_of_Lagos_State_local_government_areas_by_population skin-vector action-view">
  <div class="noprint" id="mw-page-base">
  </div>
  <div class="noprint" id="mw-head-base">
  </div>
  <div class="mw-body" id="content" role="main">
   <a id="top">
   </a>
   <div class="mw-body-content" id="siteNotice">
    <!-- CentralNotice -->
   </div>
   <div class="mw-indicators mw-body-content">
   </div>
   <h1 class="firstHeading" id="firstHeading" lang="en">
    List of Lagos State local government areas by population
   </h1>
   <div class="mw-body-content" id="bodyContent">
    <div class="noprint" id="siteSub">
     From Wikipedia, the free encyclopedia
    </div>
    <div id="contentSub">
    </div>
    <div id="jump-to-nav">
    </div>
    <a class="mw-jump-link" href="#mw-head">
     Jump to navigation
    </a>
    <a class="mw-jump-link" href="#p-search">
     Jump to search
    </a>
    <div class="mw-content-ltr" dir="ltr" id="mw-content-text" lang="en">
     <div class="mw-parser-output">
      <table class="box-Update plainlinks metadata ambox ambox-content ambox-Update" role="presentation">
       <tbody>
        <tr>
         <td class="mbox-image">
          <div style="width:52px">
           <img alt="Ambox current red.svg" data-file-height="290" data-file-width="360" decoding="async" height="34" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Ambox_current_red.svg/42px-Ambox_current_red.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/98/Ambox_current_red.svg/63px-Ambox_current_red.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/98/Ambox_current_red.svg/84px-Ambox_current_red.svg.png 2x" width="42"/>
          </div>
         </td>
         <td class="mbox-text">
          <div class="mbox-text-span">
           This article needs to be
           <b>
            updated
           </b>
           .
           <span class="hide-when-compact">
            Please update this article to reflect recent events or newly available information.
           </span>
           <small class="date-container">
            <i>
             (
             <span class="date">
              March 2015
             </span>
             )
            </i>
           </small>
          </div>
         </td>
        </tr>
       </tbody>
      </table>
      <table class="box-Unreferenced plainlinks metadata ambox ambox-content ambox-Unreferenced" role="presentation">
       <tbody>
        <tr>
         <td class="mbox-image">
          <div style="width:52px">
           <a class="image" href="/wiki/File:Question_book-new.svg">
            <img alt="" data-file-height="399" data-file-width="512" decoding="async" height="39" src="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/50px-Question_book-new.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/75px-Question_book-new.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/99/Question_book-new.svg/100px-Question_book-new.svg.png 2x" width="50"/>
           </a>
          </div>
         </td>
         <td class="mbox-text">
          <div class="mbox-text-span">
           This article
           <b>
            does not
            <a href="/wiki/Wikipedia:Citing_sources" title="Wikipedia:Citing sources">
             cite
            </a>
            any
            <a href="/wiki/Wikipedia:Verifiability" title="Wikipedia:Verifiability">
             sources
            </a>
           </b>
           .
           <span class="hide-when-compact">
            Please help
            <a class="external text" href="https://en.wikipedia.org/w/index.php?title=List_of_Lagos_State_local_government_areas_by_population&amp;action=edit">
             improve this article
            </a>
            by
            <a href="/wiki/Help:Introduction_to_referencing_with_Wiki_Markup/1" title="Help:Introduction to referencing with Wiki Markup/1">
             adding citations to reliable sources
            </a>
            . Unsourced material may be challenged and
            <a href="/wiki/Wikipedia:Verifiability#Burden_of_evidence" title="Wikipedia:Verifiability">
             removed
            </a>
            .
            <br/>
            <small>
             <span class="plainlinks">
              <i>
               Find sources:
              </i>
              <a class="external text" href="//www.google.com/search?as_eq=wikipedia&amp;q=%22List+of+Lagos+State+local+government+areas+by+population%22" rel="nofollow">
               "List of Lagos State local government areas by population"
              </a>
              –
              <a class="external text" href="//www.google.com/search?tbm=nws&amp;q=%22List+of+Lagos+State+local+government+areas+by+population%22+-wikipedia" rel="nofollow">
               news
              </a>
              <b>
               ·
              </b>
              <a class="external text" href="//www.google.com/search?&amp;q=%22List+of+Lagos+State+local+government+areas+by+population%22+site:news.google.com/newspapers&amp;source=newspapers" rel="nofollow">
               newspapers
              </a>
              <b>
               ·
              </b>
              <a class="external text" href="//www.google.com/search?tbs=bks:1&amp;q=%22List+of+Lagos+State+local+government+areas+by+population%22+-wikipedia" rel="nofollow">
               books
              </a>
              <b>
               ·
              </b>
              <a class="external text" href="//scholar.google.com/scholar?q=%22List+of+Lagos+State+local+government+areas+by+population%22" rel="nofollow">
               scholar
              </a>
              <b>
               ·
              </b>
              <a class="external text" href="https://www.jstor.org/action/doBasicSearch?Query=%22List+of+Lagos+State+local+government+areas+by+population%22&amp;acc=on&amp;wc=on" rel="nofollow">
               JSTOR
              </a>
             </span>
            </small>
           </span>
           <small class="date-container">
            <i>
             (
             <span class="date">
              June 2015
             </span>
             )
            </i>
           </small>
           <small class="hide-when-compact">
            <i>
             (
             <a href="/wiki/Help:Maintenance_template_removal" title="Help:Maintenance template removal">
              Learn how and when to remove this template message
             </a>
             )
            </i>
           </small>
          </div>
         </td>
        </tr>
       </tbody>
      </table>
      <table border="1" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #f9f9f9; border: 1px #aaa solid; border-collapse: collapse; font-size: 95%;">
       <tbody>
        <tr bgcolor="#e8e8e8">
         <th align="left" scope="col">
          Rank
         </th>
         <th align="left" scope="col">
          LGA
         </th>
         <th scope="col">
          Population
         </th>
        </tr>
        <tr>
         <td align="left">
          1
         </td>
         <td align="left">
          <a href="/wiki/Alimosho" title="Alimosho">
           Alimosho
          </a>
         </td>
         <td align="center">
          5,700,714
         </td>
        </tr>
        <tr>
         <td align="left">
          2
         </td>
         <td align="left">
          <a href="/wiki/Ajeromi-Ifelodun" title="Ajeromi-Ifelodun">
           Ajeromi-Ifelodun
          </a>
         </td>
         <td align="center">
          1,746,634
         </td>
        </tr>
        <tr>
         <td align="left">
          3
         </td>
         <td align="left">
          <a href="/wiki/Kosofe" title="Kosofe">
           Kosofe
          </a>
         </td>
         <td align="center">
          665,998
         </td>
        </tr>
        <tr>
         <td align="left">
          4
         </td>
         <td align="left">
          <a href="/wiki/Mushin,_Lagos" title="Mushin, Lagos">
           Mushin, Lagos
          </a>
         </td>
         <td align="center">
          633,543
         </td>
        </tr>
        <tr>
         <td align="left">
          5
         </td>
         <td align="left">
          <a href="/wiki/Oshodi-Isolo" title="Oshodi-Isolo">
           Oshodi-Isolo
          </a>
         </td>
         <td align="center">
          621,789
         </td>
        </tr>
        <tr>
         <td align="left">
          6
         </td>
         <td align="left">
          <a class="mw-redirect" href="/wiki/Ojo,_Lagos_State" title="Ojo, Lagos State">
           Ojo
          </a>
         </td>
         <td align="center">
          598,332
         </td>
        </tr>
        <tr>
         <td align="left">
          7
         </td>
         <td align="left">
          <a href="/wiki/Ikorodu" title="Ikorodu">
           Ikorodu
          </a>
         </td>
         <td align="center">
          535,811
         </td>
        </tr>
        <tr>
         <td align="left">
          8
         </td>
         <td align="left">
          <a href="/wiki/Surulere" title="Surulere">
           Surulere
          </a>
         </td>
         <td align="center">
          504,409
         </td>
        </tr>
        <tr>
         <td align="left">
          9
         </td>
         <td align="left">
          <a href="/wiki/Agege" title="Agege">
           Agege
          </a>
         </td>
         <td align="center">
          461,123
         </td>
        </tr>
        <tr>
         <td align="left">
          10
         </td>
         <td align="left">
          <a href="/wiki/Ifako-Ijaiye" title="Ifako-Ijaiye">
           Ifako-Ijaiye
          </a>
         </td>
         <td align="center">
          428,812
         </td>
        </tr>
        <tr>
         <td align="left">
          11
         </td>
         <td align="left">
          <a class="mw-redirect" href="/wiki/Shomolu" title="Shomolu">
           Somolu
          </a>
         </td>
         <td align="center">
          402,992
         </td>
        </tr>
        <tr>
         <td align="left">
          12
         </td>
         <td align="left">
          <a href="/wiki/Amuwo-Odofin" title="Amuwo-Odofin">
           Amuwo-Odofin
          </a>
         </td>
         <td align="center">
          318,576
         </td>
        </tr>
        <tr>
         <td align="left">
          13
         </td>
         <td align="left">
          <a href="/wiki/Lagos_Mainland" title="Lagos Mainland">
           Lagos Mainland
          </a>
         </td>
         <td align="center">
          317,980
         </td>
        </tr>
        <tr>
         <td align="left">
          14
         </td>
         <td align="left">
          <a href="/wiki/Ikeja" title="Ikeja">
           Ikeja
          </a>
         </td>
         <td align="center">
          313,333
         </td>
        </tr>
        <tr>
         <td align="left">
          15
         </td>
         <td align="left">
          <a href="/wiki/Eti-Osa" title="Eti-Osa">
           Eti-Osa
          </a>
         </td>
         <td align="center">
          287,958
         </td>
        </tr>
        <tr>
         <td align="left">
          16
         </td>
         <td align="left">
          <a href="/wiki/Badagry" title="Badagry">
           Badagry
          </a>
         </td>
         <td align="center">
          241,437
         </td>
        </tr>
        <tr>
         <td align="left">
          17
         </td>
         <td align="left">
          <a href="/wiki/Apapa" title="Apapa">
           Apapa
          </a>
         </td>
         <td align="center">
          217,661
         </td>
        </tr>
        <tr>
         <td align="left">
          18
         </td>
         <td align="left">
          <a href="/wiki/Lagos_Island" title="Lagos Island">
           Lagos Island
          </a>
         </td>
         <td align="center">
          209,665
         </td>
        </tr>
        <tr>
         <td align="left">
          19
         </td>
         <td align="left">
          <a class="mw-redirect" href="/wiki/Epe,_Lagos_State" title="Epe, Lagos State">
           Epe
          </a>
         </td>
         <td align="center">
          181,715
         </td>
        </tr>
        <tr>
         <td align="left">
          20
         </td>
         <td align="left">
          <a href="/wiki/Ibeju-Lekki" title="Ibeju-Lekki">
           Ibeju-Lekki
          </a>
         </td>
         <td align="center">
          117,542
         </td>
        </tr>
        <tr>
         <td align="left">
         </td>
         <td align="left">
          <b>
           <a href="/wiki/Lagos_State" title="Lagos State">
            Lagos State
           </a>
          </b>
         </td>
         <td align="center">
          <b>
           16,506,023
          </b>
         </td>
        </tr>
       </tbody>
      </table>
      <!--
NewPP limit report
Parsed by mw1245
Cached time: 20191206163347
Cache expiry: 2592000
Dynamic content: false
Complications: []
CPU time usage: 0.104 seconds
Real time usage: 0.171 seconds
Preprocessor visited node count: 176/1000000
Preprocessor generated node count: 0/1500000
Post‐expand include size: 13961/2097152 bytes
Template argument size: 663/2097152 bytes
Highest expansion depth: 11/40
Expensive parser function count: 2/500
Unstrip recursion depth: 0/20
Unstrip post‐expand size: 0/5000000 bytes
Number of Wikibase entities loaded: 0/400
Lua time usage: 0.047/10.000 seconds
Lua memory usage: 1.54 MB/50 MB
-->
      <!--
Transclusion expansion time report (%,ms,calls,template)
100.00%  138.141      1 -total
 72.17%   99.703      2 Template:Ambox
 63.90%   88.272      1 Template:Outdated
 44.38%   61.306      1 Template:Main_other
 35.98%   49.700      1 Template:Unsourced
 27.12%   37.468      1 Template:Find_sources_mainspace
  2.03%    2.798      1 Template:SUBJECTSPACE_formatted
-->

Next let's get the table that contains the data we want to scrape

In [0]:
my_table = soup.find_all('td')
#mw-content-text
# Let's view the table

# my_table

Next let's iterate through each link and append the text parts

In [274]:
type(my_table)

bs4.element.ResultSet

In [0]:
table_text = []

for data in my_table:
    table_text.append(data.text)

In [0]:
# Let's see the text

# table_text

First let's extract only the relevent data from the table

In [277]:
relevant_table_data = table_text[4:-3]

# Next let's see the first 3 elements
relevant_table_data[:3]

['1\n', 'Alimosho\n', '5,700,714\n']

Next lets create a dictionary and append the LGA and corresponding Population data to it

In [0]:
table_dict={'LGA':[], 'POP':[]}
count = 0

for item in relevant_table_data:
    # First let's strip off the \n at the end
    item = item.strip('\n')
    try:
        item = int(item)
    except:
        # if second item after the int, append to POP
        if count > 0:
            # First let's remove the commas
            item = item.replace(',','')
            # Next let's convert to an integer so we can use it for calculations
            item = int(item)
            # Finally, let's append it to the Population list of the dictionary
            table_dict['POP'].append(item)
            count = 0
        else:
         # if first item after the int, append to LGA
            table_dict['LGA'].append(item)
            count +=1

Next let's create a Dataframe of each LGA and its respective Population

In [279]:
lagos_df = pd.DataFrame(table_dict)

# Let's see the first five rows
lagos_df.head()

                LGA      POP
0          Alimosho  5700714
1  Ajeromi-Ifelodun  1746634
2            Kosofe   665998
3     Mushin, Lagos   633543
4      Oshodi-Isolo   621789

Appending the Latitude and Longitude Values:<br>
First let's define a simple method to extract each LGA or Borough Lats and Longs data

In [0]:
def latitude_longitude(Borough):
    import time
    """ Method takes a Series object and returns
    a list of Latitude and corresponding Longitude data,
    using the geopy library.
    This method also prints out the coordinate data"""
    
    address = str(Borough)
    
    # We must define a geolocator user agent
    geolocator = Nominatim(user_agent="NG_explorer")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    print('The geograpical coordinates of {} are lat {} and long {}.'.format(address, latitude, longitude))
    time.sleep(2)  # we let 2 secs pass after calling each location lat/lon so that the geocode function does not crash
    return [latitude, longitude]

In [282]:
lagos_df['latitude'] = lagos_df['LGA'].apply(latitude_longitude)

The geograpical coordinates of Alimosho are lat 6.58434295 and long 3.25763109723237.
The geograpical coordinates of Ajeromi-Ifelodun are lat 6.4551217 and long 3.33594625182987.
The geograpical coordinates of Kosofe are lat 6.581974 and long 3.41483594161784.
The geograpical coordinates of Mushin, Lagos are lat 6.53263245 and long 3.35202197179877.
The geograpical coordinates of Oshodi-Isolo are lat 6.54001 and long 3.31241461318394.
The geograpical coordinates of Ojo are lat 1.0958392 and long -76.6110685.
The geograpical coordinates of Ikorodu are lat 6.6191233 and long 3.5041271.
The geograpical coordinates of Surulere are lat 6.48720145 and long 3.35325872672398.
The geograpical coordinates of Agege are lat 6.6252564 and long 3.31120926770265.
The geograpical coordinates of Ifako-Ijaiye are lat 6.6636025 and long 3.289491.
The geograpical coordinates of Somolu are lat 6.583333 and long 3.466667.
The geograpical coordinates of Amuwo-Odofin are lat 6.4470234 and long 3.26627971168259.
The geograpical coordinates of Lagos Mainland are lat 6.49306105 and long 3.38824963720956.
The geograpical coordinates of Ikeja are lat 6.6048591 and long 3.35320407409498.
The geograpical coordinates of Eti-Osa are lat 6.4602312 and long 3.53218066773601.
The geograpical coordinates of Badagry are lat 6.4387296 and long 2.90748574931917.
The geograpical coordinates of Apapa are lat 6.445187 and long 3.36837316794241.
The geograpical coordinates of Lagos Island are lat 6.5148613 and long 3.49086616139006.
The geograpical coordinates of Epe are lat 6.52474955 and long 4.05724579513234.
The geograpical coordinates of Ibeju-Lekki are lat 6.4711251 and long 3.81475020068694.

Let's see the data frame again

In [283]:
lagos_df.head()

                LGA      POP                        latitude
0          Alimosho  5700714  [6.58434295, 3.25763109723237]
1  Ajeromi-Ifelodun  1746634   [6.4551217, 3.33594625182987]
2            Kosofe   665998    [6.581974, 3.41483594161784]
3     Mushin, Lagos   633543  [6.53263245, 3.35202197179877]
4      Oshodi-Isolo   621789     [6.54001, 3.31241461318394]

Next let's loop through the data frame and separate Latitude from Longitude and make lat and lons just numbers not lists

In [0]:
lon_list = []
for i, j in lagos_df.iterrows():
    lon_list.append(j.latitude[1])
    lagos_df.iat[i,2] = j.latitude[0]
      
# next let's assign the lon_list as the value of the Longitude Column

lagos_df['longitude'] = lon_list

Let's see our table with the separated latitude and longitude values

In [285]:
lagos_df.head()

                LGA      POP latitude  longitude
0          Alimosho  5700714  6.58434   3.257631
1  Ajeromi-Ifelodun  1746634  6.45512   3.335946
2            Kosofe   665998  6.58197   3.414836
3     Mushin, Lagos   633543  6.53263   3.352022
4      Oshodi-Isolo   621789  6.54001   3.312415

Okay so at this point let's look at each Borough or L.G.A closer. Let's start with the first one and visualize it via Folium library

Let's get the geographic coordinates of Alimosho, the first L.G.A

In [286]:
alimosho_data = lagos_df.loc[0,].to_frame().T
alimosho_data

        LGA      POP latitude longitude
0  Alimosho  5700714  6.58434   3.25763

In [287]:
lat, lon = latitude_longitude(alimosho_data.iloc[0,0])

print('lat: {}, lon: {}'.format(lat,lon))

The geograpical coordinates of Alimosho are lat 6.58434295 and long 3.25763109723237.
lat: 6.58434295, lon: 3.25763109723237

In [288]:
# create map of Alimosho using latitude and longitude values
map_alimosho = folium.Map(location=[lat, lon], zoom_start=14)

# add markers to map

label = "{}".format('Alimosho')
label = folium.Popup(label, parse_html=True)
folium.CircleMarker(
    [lat, lon],
    radius=10,
    popup=label,
    color='blue',
    fill=True,
    fill_color='#3186cc',
    fill_opacity=0.8,
    parse_html=False).add_to(map_alimosho)  

map_alimosho  # Feel free to zoom in to see more

Now Let's explore the data using foursquare API

In [289]:
CLIENT_ID = 'L2XUYCRD44VP2YBDMZ3XY0Z4XKO1JODM5SMG3IIYRZ5330FD' # your Foursquare ID
CLIENT_SECRET = '5KI00FG4RT2VJQTIDPXFY1N4AOKTIXLIZEAO0AHPP3DPD0U1' # your Foursquare Secret
VERSION = '20191206'
LIMIT = 50
print('Your credentials:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentials:
CLIENT_ID: L2XUYCRD44VP2YBDMZ3XY0Z4XKO1JODM5SMG3IIYRZ5330FD
CLIENT_SECRET:5KI00FG4RT2VJQTIDPXFY1N4AOKTIXLIZEAO0AHPP3DPD0U1

Let's get the full data for Alimosho LGA

Now, let's get the top 200 venues that are in the first entry within a radius of 10 Kilometers.

In [0]:
radius = 10000 # 10,000 meters is 10KM
LIMIT=200

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    alimosho_data.latitude[0], 
    alimosho_data.longitude[0], 
    radius, 
    LIMIT)

let's Send the GET request and examine the resutls

In [291]:
result = requests.get(url).json()

result.keys()

dict_keys(['meta', 'response'])

In [0]:
# show the result
# result

Let's define a function that extracts the category of the venue

Let's save only the venues from result in a variable called venues

In [293]:
venues = result['response']['groups'][0]['items']
len(venues)

# This tells us about 41 venues are returned in a 10 Kilometer radius of Alimosho LGA

39

In [0]:
# See the venues json data

# venues

Next, lets convert the result of nearby alimosho borough venues returned into a DataFrame

In [295]:
nearby_venues = json_normalize(venues)
nearby_venues.head()

                       referralId  ...  venue.venuePage.id
0  e-0-4e261fce315161d79d2a8fa5-0  ...                 NaN
1  e-0-4ecbf689b6346e2d3a4dead5-1  ...                 NaN
2  e-0-4f75a8e7e4b06c81e0e3ba05-2  ...                 NaN
3  e-0-51176f6ce4b05931e449abbc-3  ...                 NaN
4  e-0-4c93872fa25fef3b4c231223-4  ...                 NaN

[5 rows x 22 columns]

Okay let's now filter the venue DataFrame and select only the volumns needed

In [296]:
# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng', 'venue.location.distance', 'venue.id']
nearby_venues = nearby_venues.loc[:, filtered_columns]

nearby_venues.head()

               venue.name  ...                  venue.id
0           SHAWARMA.COME  ...  4e261fce315161d79d2a8fa5
1             Tantalisers  ...  4ecbf689b6346e2d3a4dead5
2        Wings Restaurant  ...  4f75a8e7e4b06c81e0e3ba05
3      Ipaja market ipaja  ...  51176f6ce4b05931e449abbc
4  De Grange suites & bar  ...  4c93872fa25fef3b4c231223

[5 rows x 6 columns]

We can see that the categories column is not well formatted. Let's clean it out.<br>
First let's inspect it closer

In [297]:
nearby_venues['venue.categories'][0]

[{'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
   'suffix': '.png'},
  'id': '4bf58dd8d48988d1ca941735',
  'name': 'Pizza Place',
  'pluralName': 'Pizza Places',
  'primary': True,
  'shortName': 'Pizza'}]

Ok so let;s now define a simple method that returns only the name for each category.<br>
Then use the apply method to apply it on each category item in the dataframe

In [0]:
def clean_category(x):
    x = x[0]['name']
    return x

Now let's apply it

In [0]:
nearby_venues['venue.categories'] = nearby_venues['venue.categories'].apply(clean_category)

Finally let's view the cleaned category column

In [300]:
alimosho_venues = nearby_venues

alimosho_venues.head()

               venue.name  ...                  venue.id
0           SHAWARMA.COME  ...  4e261fce315161d79d2a8fa5
1             Tantalisers  ...  4ecbf689b6346e2d3a4dead5
2        Wings Restaurant  ...  4f75a8e7e4b06c81e0e3ba05
3      Ipaja market ipaja  ...  51176f6ce4b05931e449abbc
4  De Grange suites & bar  ...  4c93872fa25fef3b4c231223

[5 rows x 6 columns]

Lets see the different types of venues present

In [301]:
alimosho_cat_count = alimosho_venues.groupby('venue.categories').size().to_frame()

alimosho_cat_count.columns = ['frequency']

# Let's see the categories of venues present in the alimosho LGA
alimosho_cat_count.T

venue.categories  Airport  Airport Food Court  ...  Soup Place  Wine Shop
frequency               1                   1  ...           1          1

[1 rows x 25 columns]

Let's create a copy of the original lagos_df so that we can make the LGA its index. this will make our analysis easier

In [302]:
# First let's make a copy of the lagos_df
copy_lagos_df = lagos_df.copy(deep=True)

# Then let's make LGAs the index
copy_lagos_df.index = copy_lagos_df.LGA

# Let's drop the LGA Column
copy_lagos_df = copy_lagos_df.drop('LGA', axis=1)

# Lets view the effect
copy_lagos_df.head()

                      POP latitude  longitude
LGA
Alimosho          5700714  6.58434   3.257631
Ajeromi-Ifelodun  1746634  6.45512   3.335946
Kosofe             665998  6.58197   3.414836
Mushin, Lagos      633543  6.53263   3.352022
Oshodi-Isolo       621789  6.54001   3.312415

<h3>Next let's encapsulate all these steps into a single method that we can call</h3>

First let's define a method for plotting each map

In [0]:
def plot_map(lga):
    """ This method takes an LGA name and
    returns a plotted map of it based on lat and lon"""
    lat = copy_lagos_df.loc[lga, 'latitude']
    lon = copy_lagos_df.loc[lga, 'longitude']
    
    # create map of lga using latitude and longitude values
    map_lga = folium.Map(location=[lat, lon], zoom_start=14)

    # add markers to map

    label = "{}".format(lga)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=10,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.8,
        parse_html=False).add_to(map_lga)  
    return map_lga

Next let's define a method that returns a filtered out version of 200 popular venues within 10KM radius of each LGA

In [0]:
def return_venues(lga):
    
    # let's save the latitude and longitude values
    lat = copy_lagos_df.loc[lga, 'latitude']
    lon = copy_lagos_df.loc[lga, 'longitude']
    
    # First lets save the foursquare credentials
    CLIENT_ID = 'L2XUYCRD44VP2YBDMZ3XY0Z4XKO1JODM5SMG3IIYRZ5330FD' # your Foursquare ID
    CLIENT_SECRET = '5KI00FG4RT2VJQTIDPXFY1N4AOKTIXLIZEAO0AHPP3DPD0U1' # your Foursquare Secret
    VERSION = '20190902'
    
    # Now, let's get the top 200 venues that are in the first entry within a radius of 10 Kilometers.
    radius = 10000 # 10,000 meters is 10KM
    LIMIT=200  # no more than 200 venues
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        VERSION, 
        lat, 
        lon, 
        radius, 
        LIMIT)
    
    # Let's filter out the result
    result = requests.get(url).json()
    
    # From the result, lets get the venues
    venues = result['response']['groups'][0]['items']
    
    # Lets convert the json files to dataframe
    nearby_venues = json_normalize(venues)
    
    # Let's filter the venues and select only columns needed
    filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng', 'venue.location.distance', 'venue.id']
    nearby_venues = nearby_venues.loc[:, filtered_columns]
    
    # Next lets use the clean_category method to clean out category column
    nearby_venues['venue.categories'] = nearby_venues['venue.categories'].apply(clean_category)

    
    return nearby_venues

Let's see a summary of the total number of venues returned for each LGA, as well as the first 5 venues<br>We shall also extract the lgas with less than i5 venues

Always  be aware that the total venues and types returned will be a function of the day and time the code cell below is run.<br> Normally weekends may return fewer official venues than weekdays and sunday mornings in particular return the least amount of available venues.

In [305]:
# first let's create a list of lgas with <= 15 venues to be excluded from our analysis
lga_exclusion_list = []

for i in range(len(copy_lagos_df)):
    x = copy_lagos_df.index[i]
    z = x
    x+='_lga_venues'
    y = return_venues(copy_lagos_df.index[i])

    print('Total number of venues returned for {} is {}'.format(x, len(y)))
    # if total venues returned per lga is less than 15 add to exclusion list
    if len(y) <= 15:
        lga_exclusion_list.append(z)

    print(y.head())
    print()

print(lga_exclusion_list)

Total number of venues returned for Alimosho_lga_venues is 39
               venue.name  ...                  venue.id
0           SHAWARMA.COME  ...  4e261fce315161d79d2a8fa5
1             Tantalisers  ...  4ecbf689b6346e2d3a4dead5
2        Wings Restaurant  ...  4f75a8e7e4b06c81e0e3ba05
3      Ipaja market ipaja  ...  51176f6ce4b05931e449abbc
4  De Grange suites & bar  ...  4c93872fa25fef3b4c231223

[5 rows x 6 columns]

Total number of venues returned for Ajeromi-Ifelodun_lga_venues is 59
                        venue.name  ...                  venue.id
0  Mega Chicken Chinese Restaurant  ...  54ce24ae498e6f49a707f987
1                   Rockview Hotel  ...  4e1cbebe7d8b8fe8c30af7b0
2                Film House Cinema  ...  50ccbc9ce4b0d07024dd14f4
3                Pool Golden Tulip  ...  5139ec67e4b06ad169780e29
4            tank and tummy festac  ...  4d4ea5e9ae4e60fce52c02a2

[5 rows x 6 columns]

Total number of venues returned for Kosofe_lga_venues is 79
                       venue.name  ...                  venue.id
0           De Prince Supermarket  ...  4fce4c1ae4b0d4988249ad4a
1                 Mende Suya Spot  ...  4c5af9572091a593d5b160d0
2                   Maryland Mall  ...  57767482498e1b23fc39b866
3    Zen Garden Chinese Resturant  ...  4cbb0b289552b60c6994dd8b
4  The Londoners Bar & Restaurant  ...  4da4afbcb1c9370496db15a2

[5 rows x 6 columns]

Total number of venues returned for Mushin, Lagos_lga_venues is 100
        venue.name  ...                  venue.id
0      KFC Ilupeju  ...  50605618e4b010db7403ba92
1        CKDigital  ...  51e4a11c498ed6f7bfaff09f
2             Spar  ...  5701078acd102e9eccf3890f
3      Bar Enclave  ...  4d3c661405b8721ef3f98b37
4  Cakes and Cream  ...  4e903b55d22dccc37eac32c3

[5 rows x 6 columns]

Total number of venues returned for Oshodi-Isolo_lga_venues is 100
                       venue.name  ...                  venue.id
0                  Shoprite Ikeja  ...  4ef0a1a502d50bd85776d3f6
1                Wings Restaurant  ...  4f75a8e7e4b06c81e0e3ba05
2                     KFC Ilupeju  ...  50605618e4b010db7403ba92
3  The Londoners Bar & Restaurant  ...  4da4afbcb1c9370496db15a2
4                       CKDigital  ...  51e4a11c498ed6f7bfaff09f

[5 rows x 6 columns]

Total number of venues returned for Ojo_lga_venues is 4
             venue.name  ...                  venue.id
0               Al Humo  ...  5075bb61e4b0c5298eb9261a
1     Hotel Marli Plaza  ...  51dcc711498ef05519f7ef99
2  Parque Central Mocoa  ...  503b80a9e4b00145171241b3
3         Hotel Rahsmel  ...  58ec16aefebfbd7d11bac12d

[4 rows x 6 columns]

Total number of venues returned for Ikorodu_lga_venues is 10
          venue.name  ...                  venue.id
0        Pizza House  ...  5405bb8b498eeb9671ebbe62
1  Fatmot Restaurant  ...  50374439e4b05b4c79f8f7da
2    Mambillah Hotel  ...  5094707ee4b0f94e040193b3
3       Tipsy Lounge  ...  4e3d8ad218a83d5b28459620
4            Magidun  ...  4e68b861c65be3a5650f09d6

[5 rows x 6 columns]

Total number of venues returned for Surulere_lga_venues is 88
          venue.name  ...                  venue.id
0  Film House Cinema  ...  50ccbc9ce4b0d07024dd14f4
1   Filmhouse Cinema  ...  51c46f3d498efee47e5563a5
2       Leisure Mall  ...  50ccbb66e4b0373cc146a483
3       Olaiya Amala  ...  4f64f3e7e4b03a7ce173376d
4        White House  ...  4d344e1098336dcb474236f0

[5 rows x 6 columns]

Total number of venues returned for Agege_lga_venues is 91
             venue.name  ...                  venue.id
0           SmartieMart  ...  4e10a71a1495c8d31bbfb4d3
1  Tastee Fried Chicken  ...  4fc70e25e4b0d7c765050bf1
2     New Afrika Shrine  ...  515eecc5e4b04e50b0bac6eb
3  Tastee Fried Chicken  ...  56c0a978cd109d4ce6961b15
4   Cold Stone Creamery  ...  51fd1472498ef59d5eeba984

[5 rows x 6 columns]

Total number of venues returned for Ifako-Ijaiye_lga_venues is 62
             venue.name  ...                  venue.id
0   justrite superstore  ...  504e05c7e4b04977df63d6ba
1           Tantalisers  ...  4ecbf689b6346e2d3a4dead5
2  Tastee Fried Chicken  ...  4fc70e25e4b0d7c765050bf1
3           SmartieMart  ...  4e10a71a1495c8d31bbfb4d3
4         SHAWARMA.COME  ...  4e261fce315161d79d2a8fa5

[5 rows x 6 columns]

Total number of venues returned for Somolu_lga_venues is 18
              venue.name  ...                  venue.id
0  De Prince Supermarket  ...  4fce4c1ae4b0d4988249ad4a
1            Pizza House  ...  5405bb8b498eeb9671ebbe62
2                Magidun  ...  4e68b861c65be3a5650f09d6
3         Domino's Pizza  ...  552574af498e9338ad7c4479
4               Mr Biggs  ...  4ecbd11249015d98b1a3d15e

[5 rows x 6 columns]

Total number of venues returned for Amuwo-Odofin_lga_venues is 20
                        venue.name  ...                  venue.id
0               Trade Fair Complex  ...  4c9b4bc8eaa5a1436967d3e4
1                     Ilashe beach  ...  50c36e99e4b0fac7b1e0c5dc
2                Pool Golden Tulip  ...  5139ec67e4b06ad169780e29
3  Mega Chicken Chinese Restaurant  ...  54ce24ae498e6f49a707f987
4                        TFC Place  ...  4e89d4ede5faccee5099e029

[5 rows x 6 columns]

Total number of venues returned for Lagos Mainland_lga_venues is 100
                     venue.name  ...                  venue.id
0                   White House  ...  4d344e1098336dcb474236f0
1             Film House Cinema  ...  50ccbc9ce4b0d07024dd14f4
2  The Banana Island Patisserie  ...  51cabaad498eb06f0fdb0340
3                 Ozone Cinemas  ...  4de68e0418389f05587cbc03
4                       Banilux  ...  4de00f9a3151d414eb1dcfae

[5 rows x 6 columns]

Total number of venues returned for Ikeja_lga_venues is 91
                            venue.name  ...                  venue.id
0                  Cold Stone Creamery  ...  51fd1472498ef59d5eeba984
1  Best Western Plus Lagos Ikeja Hotel  ...  50a342c2e4b06729d0c1d95d
2                            Mr. Price  ...  504248e9e4b0f7ca2c66f37c
3                    New Afrika Shrine  ...  515eecc5e4b04e50b0bac6eb
4                   University of Suya  ...  4c72b7d59e706dcbe0904b62

[5 rows x 6 columns]

Total number of venues returned for Eti-Osa_lga_venues is 54
                  venue.name  ...                  venue.id
0                V.G.C. Park  ...  4d7234f6f7c38cfa5aa0a23d
1        Cold Stone Creamery  ...  53f0897a498eec00f0629628
2  Lekki Conservation Centre  ...  4bfc3c78b5cd2d7f994531fb
3               xovar lounge  ...  51b2667f498e624e770cfe6a
4      Friends Colony Estate  ...  4c9242b457e5b60c1776671c

[5 rows x 6 columns]

Total number of venues returned for Badagry_lga_venues is 5
                                   venue.name  ...                  venue.id
0                                   Tuse Café  ...  4f92bcb8e4b0e29f54590580
1                             Oxygen (O2) Bar  ...  4e08cbfae4cdefcff6e442e4
2  Seriki Williams Abass' Brazilian Barracoon  ...  5236f35f11d24cf7aa0c1670
3                        Mobee Badagry Museum  ...  4e08dc53d1640223a4a597bd
4                   Seriki Abbas Slave Museum  ...  4f96bfd2e4b0b10b9cb6d939

[5 rows x 6 columns]

Total number of venues returned for Apapa_lga_venues is 100
            venue.name  ...                  venue.id
0       Rockview Hotel  ...  4e1cbebe7d8b8fe8c30af7b0
1         Freedom Park  ...  4fa3a928e4b01208f9529e8e
2  Apapa Shopping Mall  ...  5505878c498eb6579786bfd7
3      SpicyInc Studio  ...  4fbd1a457716f968e28e0cf2
4         Muson Centre  ...  4c57462a7613b7132e1b91ea

[5 rows x 6 columns]

Total number of venues returned for Lagos Island_lga_venues is 63
         venue.name  ...                  venue.id
0     Maple Cottage  ...  4d5834d4de8f6dcbcf0e0991
1     Banana Island  ...  4c976e836b35a14310ee35dc
2      Domino Pizza  ...  506c8746e4b0916d139092dc
3  Wheatbaker Hotel  ...  4ed67bbd8231ee8d68e34649
4    Filmhouse Imax  ...  57d1a57e498e02fa25dbe90b

[5 rows x 6 columns]

Total number of venues returned for Epe_lga_venues is 2
           venue.name  ...                  venue.id
0  Continental Dishes  ...  4bdd62c1be5120a19c72fe70
1     Jubilee Chalets  ...  5b1a7343b3c9610039f825c4

[2 rows x 6 columns]

Total number of venues returned for Ibeju-Lekki_lga_venues is 4
               venue.name  ...                  venue.id
0             Eleko Beach  ...  4f2538b9e4b06176451d3848
1  lakowe lakes golfcourt  ...  51bde98f498ee13d093d3ae3
2              Omu Resort  ...  5690f080498e2fa05ac9c2d1
3  Olive Estate Lekki FTZ  ...  4bbb019c7421a593b355c440

[4 rows x 6 columns]

['Ojo', 'Ikorodu', 'Badagry', 'Epe', 'Ibeju-Lekki']

Now let's exclude the LGAs with less than 15 venues from our dataframe and future analysis

In [306]:
len(copy_lagos_df)

20

In [0]:
# if we have atleast one lga with less than 15 venues, drop it.
if len(lga_exclusion_list) >= 1:
    copy_lagos_df.drop(index=lga_exclusion_list, inplace=True)

Let's confirm the length

In [308]:
len(copy_lagos_df)

15

Ok, so we now have only lgas left with atleast 15 venues

Let's see the number of venues returned for the second LGA and the first 5 venues

In [309]:
# first let's confirm the name
copy_lagos_df.index[1]

'Ajeromi-Ifelodun'

In [310]:
Ajeromi_lga_venues = return_venues(copy_lagos_df.index[1])

print('Total number of venues returned is {}'.format(len(Ajeromi_lga_venues)))

Ajeromi_lga_venues.head()

Total number of venues returned is 59

                        venue.name  ...                  venue.id
0  Mega Chicken Chinese Restaurant  ...  54ce24ae498e6f49a707f987
1                   Rockview Hotel  ...  4e1cbebe7d8b8fe8c30af7b0
2                Film House Cinema  ...  50ccbc9ce4b0d07024dd14f4
3                Pool Golden Tulip  ...  5139ec67e4b06ad169780e29
4            tank and tummy festac  ...  4d4ea5e9ae4e60fce52c02a2

[5 rows x 6 columns]

Let's see the different types of venues present

In [311]:
Ajeromi_cat_count = Ajeromi_lga_venues.groupby('venue.categories').size().to_frame()

Ajeromi_cat_count.columns = ['frequency']

# Let's see the categories of venues present in the alimosho LGA
Ajeromi_cat_count.T

venue.categories  African Restaurant  Art Gallery  ...  Stables  Supermarket
frequency                          5            2  ...        1            1

[1 rows x 39 columns]

Let's plot the map of 'Ajeromi-LgA'

In [312]:
plot_map(copy_lagos_df.index[1])

Next let's see the number of venues returned for the third LGA and the first 5 venues

In [313]:
# First let's confirm the name
copy_lagos_df.index[2]

'Kosofe'

In [314]:
Kosofe_lga_venues = return_venues(copy_lagos_df.index[2])

print('Total number of venues returned is {}'.format(len(Kosofe_lga_venues)))

Kosofe_lga_venues.head()

Total number of venues returned is 79

                       venue.name  ...                  venue.id
0           De Prince Supermarket  ...  4fce4c1ae4b0d4988249ad4a
1                 Mende Suya Spot  ...  4c5af9572091a593d5b160d0
2                   Maryland Mall  ...  57767482498e1b23fc39b866
3    Zen Garden Chinese Resturant  ...  4cbb0b289552b60c6994dd8b
4  The Londoners Bar & Restaurant  ...  4da4afbcb1c9370496db15a2

[5 rows x 6 columns]

Let's see the different types of venues present

In [315]:
Kosofe_cat_count = Kosofe_lga_venues.groupby('venue.categories').size().to_frame()

Kosofe_cat_count.columns = ['frequency']

# Let's see the categories of venues present in the alimosho LGA
Kosofe_cat_count.T

venue.categories  African Restaurant  Airport  ...  Spa  Steakhouse
frequency                          4        1  ...    1           2

[1 rows x 39 columns]

Now let's plot the map of Kosofe LGA

In [316]:
plot_map(copy_lagos_df.index[2])

We can repeat the above steps for all the remaining LGAs, but remember our task is to find the ideal LGA location for a Tech start-up.<br>So we need to be smart about it.<br> I belive we need to get the venues returned by each LGA and a total list of venue categories.<br>Then we compare each LGA venues to the categories of venues we care about.

So first, let's define a method that converts the venue categories in each LGA to small case and adds it to a set. So that we can get a set of all available venue categories in our dataframe.

The essence of converting each category name to all small case is just incase one category exists in upper and lower case some where. So that it won't be added as 2 categories

In [0]:
def store_venue_categories(df):
    venue_set = set()
    for lga in df.index:
        df_lga = return_venues(lga)
        # Converting each category name to lower case using a list comprehension
        df_lga['venue.categories'] = [x.lower() for x in list(df_lga['venue.categories'])]
        # Add each converted name to a set to avoid any possible duplicates
        for category in df_lga['venue.categories']:
            venue_set.add(category)
    # Finally return a list of all venue categories in our DataFrame.
    return list(venue_set)

In [0]:
all_venue_categories = store_venue_categories(copy_lagos_df)

Let's see all the categories of venues listed in our data set

In [319]:
print('Total venue categories is: {} categories'.format(len(all_venue_categories)))

all_venue_categories

Total venue categories is: 101 categories

['pub',
 'nightclub',
 'cupcake shop',
 'art gallery',
 'food',
 'beach',
 'bakery',
 'karaoke bar',
 'mediterranean restaurant',
 'café',
 'surf spot',
 'airport lounge',
 'flea market',
 'comfort food restaurant',
 'boutique',
 'stables',
 'mexican restaurant',
 'convention center',
 'bus station',
 'pier',
 'seafood restaurant',
 'airport',
 'mobile phone shop',
 'shopping mall',
 'snack place',
 'bike rental / bike share',
 'pizza place',
 'cocktail bar',
 'bar',
 'convenience store',
 'food & drink shop',
 'spa',
 'playground',
 'gas station',
 'plaza',
 'department store',
 'movie theater',
 'park',
 'pool hall',
 'beer garden',
 'market',
 'wine shop',
 'pool',
 'bbq joint',
 'athletics & sports',
 'steakhouse',
 'campground',
 'coffee shop',
 'brazilian restaurant',
 'food court',
 'theater',
 'heliport',
 'airport food court',
 'neighborhood',
 'airport service',
 'fried chicken joint',
 'bagel shop',
 'photography studio',
 'auto garage',
 'sushi restaurant',
 'modern european restaurant',
 'performing arts venue',
 "men's store",
 'airport terminal',
 'japanese restaurant',
 'diner',
 'farmers market',
 'it services',
 'electronics store',
 'soup place',
 'breakfast spot',
 'italian restaurant',
 'ice cream shop',
 'arcade',
 'african restaurant',
 'asian restaurant',
 'golf course',
 'supermarket',
 'sports bar',
 'furniture / home store',
 'multiplex',
 'bistro',
 'dessert shop',
 'hotel',
 'soccer field',
 'resort',
 'music venue',
 'clothing store',
 'lounge',
 'comedy club',
 'american restaurant',
 'fast food restaurant',
 'burger joint',
 'grocery store',
 'luggage store',
 'chinese restaurant',
 'baseball stadium',
 'restaurant',
 'theme restaurant',
 'gym / fitness center',
 'indian restaurant']

Next, we need to arrange all categories in order of importance to our analysis. This means categories that are more important be moved up the list, while others are down.<br>
First let's group similar venue types together such as coffee shop and cupcake shop

In [0]:
continental_restaurants = ['italian restaurant', 'modern european restaurant','african restaurant','brazilian restaurant','theme restaurant', 
                           'mexican restaurant',  'seafood restaurant','american restaurant','mediterranean restaurant','fast food restaurant','japanese restaurant',
                           'chinese restaurant','comfort food restaurant','asian restaurant','indian restaurant', 'sushi restaurant','restaurant']

eateries = ['bbq joint', 'fried chicken joint', 'food','burger joint' ,'pizza place','steakhouse','food court','soup place','airport food court','food & drink shop',
            'breakfast spot','diner']

coffee_shops = ['bagel shop','dessert shop', 'café','cupcake shop','coffee shop']

gas_stations = ['gas station']

ice_cream_n_confectionery = ['snack place','bakery','ice cream shop']

hotels_resorts_spas = ['resort','hotel','spa']

bars_n_lounges = ['lounge','pub','bar','sports bar','beer garden', 'karaoke bar','cocktail bar','airport lounge']

airport = ['airport terminal','airport service']

bus_stations = ['bus station']

heliport = ['bistro','heliport']

it_services_n_hubs = ['it services']

shopping_malls_n_stores = ['department store', 'plaza','grocery store','convenience store','supermarket','furniture / home store','shopping mall','wine shop',
                           "men's store"]

gym_sports_facilities_games = ['gym / fitness center','playground','soccer field','arcade','golf course','pool hall','surf spot','pool','baseball stadium',
                               'athletics & sports']

markets = ['farmers market','market','flea market']

fashion_n_clothing = ['boutique','clothing store']

arts_studios_galleries = ['comedy club','art gallery','theater','performing arts venue']

convention_centers = ['multiplex','convention center']

halls_events_venues = ['music venue','campground']

night_clubs = ['nightclub']

beach = ['beach']

parks = ['park']

cinemas = ['movie theater']

auto_services = ['auto garage']

electronics_shop = ['mobile phone shop','electronics store']

residences = ['neighborhood']

other_services = ['stables','photography studio','pier','luggage store','bike rental / bike share']

In [0]:
super_list  = [continental_restaurants, eateries, coffee_shops, gas_stations, ice_cream_n_confectionery, hotels_resorts_spas, bars_n_lounges,
               airport, bus_stations, heliport, it_services_n_hubs, shopping_malls_n_stores, gym_sports_facilities_games, markets, fashion_n_clothing,
               arts_studios_galleries, convention_centers, halls_events_venues, night_clubs, beach, parks, cinemas, auto_services, electronics_shop,
               residences, other_services]

In [322]:
count = 0
for i in super_list:
    count += len(i)
print(count)

100

We had 101 venue categories earlier. So one venue is missing, let's trace it and add it up to the right category, else it will distort our output

In [323]:
test_set = set()

for i in super_list:
    for j in i:
        test_set.add(j)

len(test_set)

100

Now that we have a test_set containing all venue categories in super_list,<br> Let's set it against the all_venue_categories list to identify the missing venue category

In [0]:
missing_category = set(all_venue_categories).difference(test_set)

In [325]:
# Let's see the missing category

print(missing_category)

{'airport'}

So let's add the airport category to the appropriate list. which should be airport list

In [0]:
airport.append('airport')

In [327]:
print(airport)

['airport terminal', 'airport service', 'airport']

Let's once again confirm that we now have 101 venues

In [328]:
count = 0
for i in super_list:
    count += len(i)
print(count)

101

Ok, Let's move on to the next step which is creating a DataFrame with categories as index and LGAs as columns.<br>Then each LGA would have a score based on the number of venues in each category.<br>
After that we would sort the data frame by categories we care most about.

In [0]:
# Let's make the categories the index of the new DataFrame

data_index = ['continental_restaurants', 'eateries', 'coffee_shops', 'gas_stations', 'ice_cream_n_confectionery', 'hotels_resorts_spas', 'bars_n_lounges',
               'airport', 'bus_stations', 'heliport', 'it_services_n_hubs', 'shopping_malls_n_stores', 'gym_sports_facilities_games', 'markets', 'fashion_n_clothing',
               'arts_studios_galleries', 'convention_centers', 'halls_events_venues', 'night_clubs', 'beach', 'parks', 'cinemas', 'auto_services', 'electronics_shop',
               'residences', 'other_services']

In [0]:
# Let's create a list of LGAs to be the columns of our new DataFrame

data_columns = list(copy_lagos_df.index)

In [331]:
summary_df = pd.DataFrame(index= data_index, columns= data_columns)

# Next let's replace any possoble NaN values with 0
summary_df.fillna(0, inplace=True)

# Let's see the first 5 rows
summary_df.head()

                           Alimosho  Ajeromi-Ifelodun  ...  Apapa  Lagos Island
continental_restaurants           0                 0  ...      0             0
eateries                          0                 0  ...      0             0
coffee_shops                      0                 0  ...      0             0
gas_stations                      0                 0  ...      0             0
ice_cream_n_confectionery         0                 0  ...      0             0

[5 rows x 15 columns]

In [0]:
def update_lga_category_values(df_1, df_2):
    """df_1 refers to the copy_lagos_df DataFrame and
    df_2 refers to the summary_df DataFrame,
    This method returns an updated df_2, showing the total number
    of each type of venues that exist in each LGA"""

    # let's make a refence to the super_list object
    new_list = super_list.copy()
    # Let's iterate through the copy_lagos_df DataFrame
    for i in df_1.index:
        # Lets use the retun_venues method defined earlier to get the venues for each LGA
        df_lga_venues = return_venues(i)
        # convert the venue.categories elements to all lower case for each LGA using list comp.
        df_lga_venues['venue.categories'] = [x.lower() for x in list(df_lga_venues['venue.categories'])]
        # Let's iterate through each venue in the given LGA
        for x in df_lga_venues['venue.categories']:
            # Let's check if the venue is in the first element of the new_list, 
            # which is a copy of the Super_list we created earlier
            for y in range(len(new_list)):
                # If it exists add one to the category under which it exists
                if x in new_list[y]:
                    df_2[i][y] += 1
                # if it doesn't exist continue seeking the right category
                else:
                    continue
    # Finally add a Total row that shows the total venues returned per category per LGA
    df_2.loc["Total_Venues"] = df_2.sum()
    return df_2

In [0]:
summary_df = update_lga_category_values(copy_lagos_df, summary_df)

In [334]:
summary_df

                             Alimosho  Ajeromi-Ifelodun  ...  Apapa  Lagos Island
continental_restaurants            10                17  ...     30             7
eateries                            7                 4  ...      7             5
coffee_shops                        0                 2  ...      5             0
gas_stations                        0                 0  ...      0             1
ice_cream_n_confectionery           0                 1  ...      3             3
hotels_resorts_spas                 2                 5  ...     11             9
bars_n_lounges                      4                 6  ...     13            11
airport                             2                 0  ...      0             0
bus_stations                        0                 0  ...      0             2
heliport                            1                 0  ...      0             0
it_services_n_hubs                  0                 0  ...      0             0
shopping_malls_n_stores             5                 5  ...      6             8
gym_sports_facilities_games         1                 3  ...      8             5
markets                             2                 2  ...      1             2
fashion_n_clothing                  1                 0  ...      0             1
arts_studios_galleries              0                 2  ...      4             1
convention_centers                  0                 2  ...      2             1
halls_events_venues                 1                 1  ...      1             0
night_clubs                         0                 2  ...      3             0
beach                               0                 1  ...      0             2
parks                               2                 2  ...      2             1
cinemas                             0                 2  ...      2             1
auto_services                       0                 0  ...      0             0
electronics_shop                    1                 0  ...      0             1
residences                          0                 0  ...      1             1
other_services                      0                 2  ...      1             1
Total_Venues                       39                59  ...    100            63

[27 rows x 15 columns]